<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">AboutMe</a>
        <a href="/contact-me">ContactMe</a>
    </header>
    <h1>About Me</h1>
    <img src="../public/assets/Marx.jpg"/>
    <div class="about-me-div">
        <p>
            Hi I am Karl Marx, a revolutionary thinker and philosopher dedicated to analyzing and critiquing the capitalist system. 
            I emphasize my commitment to understanding the socioeconomic structures that shape society, particularly focusing on the 
            exploitation of the working class by the bourgeoisie. I believe in historical materialism, which asserts that economic 
            factors are the primary drivers of historical change. I have to mention my contributions to socialist theory, advocating 
            for the establishment of a classless society where the means of production are owned collectively. I am a champion of the 
            oppressed and a proponent of social justice, striving to empower the working class and challenge the inequalities inherent 
            in capitalist societies. 
        </p>
    </div>
    <div class="author-div">
        <p>Karl Marx</p>
    </div>
</body>
</html>