<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Me</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact-me">ContactMe</a>
    </header>
    <h1>ContactMe</h1>
    <img src="../public/assets/Marx.jpg"/>
    <div class="form-div">
        <form>
            <h2>Sender:</h2>
            <input type="text"/>
            <h2>Message:</h2>
            <textarea></textarea>
            <br>
            <button type="submit"><a href="/">Send</a></button>
        </form>
    </div>
</body>
</html>