<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact-me">Contact Me</a>
    </header>
    <h1>WELCOME TO MY HOMEPAGE!</h1>
    <img src="../public/assets/Marx.jpg"/>
    <div class="text-div">
        <p>
            "Democracy is the road to socialism. The owners of capital stimulate the working class to buy more and more expensive goods - 
            buildings and machinery, thus pushing them to take out more and more expensive credits, until these credits cannot be repaid. 
            Unpaid credits lead to the bankruptcy of banks and their nationalization by the state, which ultimately leads to communism."
        </p>
    </div>
    <div class="author-div">
        <p>Karl Marx</p>
    </div>
</body>
</html>